

<h3>Your Quote: $<%= @quote.price %></h3>
<p>Email: <%= @quote.user_email %></p>
<p>Thread: <%= @quote.make %></p>
<p>Amount: <%= @quote.amount %></p>
<p>Color: <%= @quote.color %></p>
<p>Custom Design?: <%= @quote.hasdesign %></p>
<p>Notes: <%= @quote.note %></p>