<h4>your BRAND NEW quote: $<%= # @quote.price %></h4>
<p>id:<%= @quote.id %></p>
<p>type:<%= @quote.make %></p>
<p>number:<%= @quote.amount %></p>
<p>color:<%= @quote.color %></p>
<p>design?:<%= @quote.hasdesign %></p>
<p>notes:<%= @quote.note %></p>